NEXT_PUBLIC_APP_URL=https://seewhylive.online
NEXT_PUBLIC_WS_URL=wss://seewhylive.online
NEXT_PUBLIC_API_URL=https://api.seewhylive.online
NEXT_PUBLIC_SUPABASE_URL=https://rxlgywvfclyjdfyvfvyc.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_CtHMhtj7hLmg8jejBnUrfA_BsWb0Lpb
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_live_51Svbvv2N0KWn00Qu7HDAR92cb2M446cd6pEDs8CwmswhMowxtfOKRhljIlFOyRrJfddB6GUQrTSYg0WEe4SYmBA900a7dliDK
NODE_ENV=production
PORT=3000
